*{
  margin:0px;
  padding: 0px;
  position: relative;
  
}
  
body{
background-color: white;

}

table {
  border-collapse: collapse;
  max-width: 100%;
}

th, td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
  background-color: #4CAF50;
  color: white;
}



    .formulario {
  
    max-width: 50%;
    padding: 30px;
    background: #f0f0f0;
    overflow:auto;
    height: 40px auto;
    margin-left: 20%;
    margin-top: 8%;

  
    /* Border style */
    border: 1px solid #cccccc;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border-radius: 7px; 
  
    /* Border Shadow */
    -moz-box-shadow: 2px 2px 2px #cccccc;
    -webkit-box-shadow: 2px 2px 2px #cccccc;
    box-shadow: 2px 2px 2px #cccccc;
    filter:alpha(opacity=30);
     opacity: 0.9;
     -moz-opacity:0.9;
     -webkit-opacity:0.9;   
  

    }

label {
  display: block;
  float: left;
  clear: left;
  padding: 10px 0;
  margin: 5px 0;
  width: 20%;
}
input, select {
  display: block;
  float: left;
  padding: 10px;
  margin: 5px 0;
  width: 80%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

input[type=submit] {
    background: #27ae60;
    color: #ecf0f1;
    border: 0;
    border-bottom: 2px solid #2ecc71;
    margin: 10px 0 0;
     width: 80%;
     margin-left: 20%;

}

table {
  border-collapse: collapse;
  max-width: 100%;
}

th, td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
  background-color: #4CAF50;
  color: white;
}

h1{
  text-align: center;
  t
}